:root {
  --color-primary: #005cb9;
  --color-bg-light: #E8F9FF;
  --color-warning: #ffce02;
  --color-text-dark: #221F20;

  --border-grey : #221F2029;
  --fs-heading: 20px;
  --fs-subtitle: 14px;
  --fs-button: 16px;

  --fw-bold: 700;
  --fw-semi: 600;
  --fw-regular: 400;

  --radius-large: 12px;
  --radius-medium: 8px;

  --space-32: 32px;
  --space-16: 16px;
  --space-12: 12px;
  --space-5: 5px;


}
